@font-face {
    font-family: calculator;
    src: url(Calculator.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: Arial, serif;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: dimgray;
    height: 43px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
    padding: 12px 12px 13px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 0;
}

li:hover {
    background-color: gray;
}

li.active {
    background-color: darkslategrey;
    color: whitesmoke;
}

main {
    margin-top: 43px;
    height: calc(100vh - 43px);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#calculator-container {
    justify-content: center;
    width: 620px;
    margin: 0 auto;
}

.display-screen {
    height: 80px;
    width: 500px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: #50a090;
    font-family: calculator, serif;
    font-size: 90px;
    text-align: right;
    color: black;
    border-radius: 5px;
}

.calculator-pad {
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 80px 80px 80px 80px;
}

.pad {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    text-align: center;
}

.plus {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.pad-button {
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 4px 4px lightgray;
    cursor: pointer;
}

.number {
    background-image: linear-gradient(to right, #5f9ea0, #7fbec0);
    box-shadow: 4px 4px #3f7e80;
}

.clear {
    background-image: linear-gradient(to right, #a52a2a, #c54a4a);
    box-shadow: 4px 4px #850a0a;
}

.operator {
    background-image: linear-gradient(to right, #2f4f4f, #4f6f6f);
    box-shadow: 4px 4px #0f2f2f;
}

.pad-button.active {
    box-shadow: 1px 1px whitesmoke;
    transform: translate(2px, 2px);
}

.number.active {
    box-shadow: 1px 1px darkslategray;
    transform: translate(2px, 2px);
}

.operator.active {
    box-shadow: 1px 1px #0f2f2f;
    transform: translate(2px, 2px);
}

.clear.active {
    box-shadow: 1px 1px #850a0a;
    transform: translate(2px, 2px);
}

@media only screen and (max-width: 620px) {
    #calculator-container {
        justify-content: initial;
        margin: 70px auto;
        width: 320px;
    }

    .display-screen {
        height: 42px;
        width: 280px;
        padding-bottom: 12px;
        padding-right: 12px;
        font-size: 50px;
        border-radius: 3px;
        margin: 0 14px;
    }

    .calculator-pad {
        grid-template-columns: 64px 64px 64px 64px;
        grid-template-rows: 52px 52px 52px 52px 52px;
        /*margin: 0 auto;*/
    }

    .pad {
        display: grid;
        grid-gap: 12px;
        padding: 12px;
        text-align: center;
    }

    .pad-button {
        font-size: 20px;
        padding-top: 16px;
        border-radius: 8px;
        box-shadow: 3px 3px lightgray;
    }

    .number {
        box-shadow: 3px 3px #3f7e80;
    }

    .clear {
        box-shadow: 3px 3px #850a0a;
    }

    .operator {
        box-shadow: 3px 3px #0f2f2f;
    }

    [title="multiplication"] {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    [title="division"] {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    [title="clear-to-empty"] {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    [title="all-clear"] {
        grid-column-start: 4;
        grid-row-start: 1;
    }

    [title="subtraction"] {
        grid-column-start: 4;
        grid-row-start: 2;
    }
}

.stage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-color: gray;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    background: none;
    outline: none;
    color: white;
    padding: 8px;
    font-size: 25px;
    display: block;
    margin: 20px;
    align-items: center;
}

input:focus {
    border: 4px solid white;
}

.button {
    width: 150px;
    margin: 20px;
}

.result {
    margin: 20px;
    font-size: 90px;
    height: 80px;
    padding: 0 20px 20px;
    background-color: #50a090;
    font-family: calculator, serif;
    text-align: right;
    color: black;
    border-radius: 5px;
}

p {
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.hidden {
    display: none;
}