@font-face {
    font-family: calculator;
    src: url(Calculator.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: Arial, serif;
}

.calculator-container {
    padding: 50px;
}

.display-screen {
    height: 80px;
    width: 500px;
    margin: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: #005040;
    font-family: calculator, serif;
    font-size: 90px;
    text-align: right;
    border-radius: 5px;
}

.calculator-pad {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 80px 80px 80px 80px;
    grid-gap: 20px;
    color: whitesmoke;
    font-size: 25px;
}

.plus {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.pad-button {
    text-align: center;
    padding-top: 25px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 4px 4px lightgray;
}

.number {
    background-color: cadetblue;
    box-shadow: 4px 4px #3f7e80;
}

.clear {
    background-color: brown;
    box-shadow: 4px 4px #850a0a;
}

.operator {
    background-color: darkslategray;
    box-shadow: 4px 4px #0f2f2f;
}

.pad-button.active {
    box-shadow: 1px 1px whitesmoke;
    transform: translate(2px, 2px);
}

.number.active {
    box-shadow: 1px 1px darkslategray;
    transform: translate(2px, 2px);
}

.operator.active {
    box-shadow: 1px 1px #0f2f2f;
    transform: translate(2px, 2px);
}

.clear.active {
    box-shadow: 1px 1px #850a0a;
    transform: translate(2px, 2px);
}