@font-face {
    font-family: calculator;
    src: url(Calculator.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: Arial, serif;
}

#calculator-container {
    width: 620px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

#display-screen {
    height: 80px;
    width: 500px;
    margin: auto;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: #50a090;
    font-family: calculator, serif;
    font-size: 90px;
    text-align: right;
    color: black;
    border-radius: 5px;
}

#calculator-pad {
    display: grid;
    width: 580px;
    margin: auto;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 80px 80px 80px 80px;
    grid-gap: 20px;
    color: whitesmoke;
    font-size: 25px;
    padding: 20px;
}

.plus {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.pad-button {
    text-align: center;
    padding-top: 25px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 4px 4px lightgray;
    cursor: pointer;
}

.number {
    background-image: linear-gradient(to right, #5f9ea0, #7fbec0);
    box-shadow: 4px 4px #3f7e80;
}

.clear {
    background-image: linear-gradient(to right, #a52a2a, #c54a4a);
    box-shadow: 4px 4px #850a0a;
}

.operator {
    background-image: linear-gradient(to right, #2f4f4f, #4f6f6f);
    box-shadow: 4px 4px #0f2f2f;
}

.pad-button.active {
    box-shadow: 1px 1px whitesmoke;
    transform: translate(2px, 2px);
}

.number.active {
    box-shadow: 1px 1px darkslategray;
    transform: translate(2px, 2px);
}

.operator.active {
    box-shadow: 1px 1px #0f2f2f;
    transform: translate(2px, 2px);
}

.clear.active {
    box-shadow: 1px 1px #850a0a;
    transform: translate(2px, 2px);
}